<%- include(relativePath + '_utilities/_functions')_%>
<%_  var pageID = 'top'; _%>
<!doctype html>
<html lang="ja">

<head>
  <%- include(relativePath + '_partials/_analytics')%>
  <script type="text/javascript" src="/scripts/IE8.js"></script>

  <!-- meta -->
  <%- include(relativePath + '_partials/_meta', {page: pageID})%>

  <!-- stylesheet -->
  <link rel="stylesheet" href="./assets/css/main.css?=v230217">
  <link rel="stylesheet" href="./assets/css/top.css">

  <!-- lib -->
  <script src="./assets/js/vendor/jquery-3.6.0.min.js" defer></script>
  <script src="./assets/js/vendor/micromodal.min.js" defer></script>
  <script src="./assets/js/vendor/gsap-3.11.3.min.js" defer></script>
  <script src="./assets/js/vendor/gsap-scrollTrigger-3.11.3.min.js" defer></script>
  <script src="./assets/js/main.js" defer></script>
  <script src="./assets/js/top.js" defer></script>
</head>

<body>
  <%- include(relativePath + '_partials/_header')%>

  <div class="un_wrapper">
    <main class="ly_main">

      <%- include(relativePath + '_components/_kv')%>

      <div class="bl_introduction">
        <a href="https://www.sc-natural-products.com/index.html" class="un_introduction_link" target="_blank" rel="noopener">
          <span class="un_introduction_link_txt">
            <span>住友化学グループの</span><br class="u-hidden-up-md">天然物ブランディング活動について
          </span>
          <span class="el_link_icon">
            <span class="el_circle_deg">
              <svg viewBox="0 0 22.735 22.735">
                <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </svg>
            </span>

            <span class="el_arrow_deg">
              <svg viewBox="0 0 6.457 6.457">
                <g transform="translate(-117.731 -7.816)">
                  <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
                  <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
                </g>
              </svg>
            </span>
          </span>
        </a>
      </div>

      <section class="section section_biorational">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_biorational_section_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_biorational_sm.png', 460, 36, 208, 62, 'バイオラショナルへの取組み') %>
            </h2>
            <p class="bl_section_ttl_sm un_biorational_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_biorational_sm.png', 176, 16, 132, 12, 'Efforts for biorational') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_biorational"></div>
          </div>

          <div class="un_biorational_contents js_fadeUp_targer">
            <div class="bl_contents_ttl_cont un_biorational_contents_ttl_cont">
              <h3 class="bl_contents_ttl">生産安定性と低環境負荷を両立した<br class="u-hidden-up-md">バイオラショナル製品に注力</h3>
            </div>

            <div class="bl_img_three_blocks_wrapper bl_biorational_img_three_blocks_wrapper">
              <div class="bl_img_three_blocks">
                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_01_sm.jpg', 304, 161, 327, 180, '') %>
                </div>

                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_02_sm.jpg', 304, 161, 156, 100, '') %>
                </div>
                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_03_sm.jpg', 304, 161, 156, 100, '') %>
                </div>
              </div>
            </div>

            <div class="bl_txt_cont un_biorational_txt_cont">
              <p class="bl_txt">
                農薬をはじめとする農業関連資材については、農作物の生産安定性を高めるだけでなく、生産者・消費者に対する安全性が高く、かつ環境負荷も低い製品が求められています。住友化学では、天然由来成分を活用した低環境負荷の微生物農薬・植物成長調整剤・微生物農業資材や、それらを用いた作物保護、作物の品質・収量向上のためのソリューションを「バイオラショナル製品」と定義し、Valent BioSciencesを中心に事業を展開しています。また、より環境負荷の低いボタニカル（植物由来）製品の研究開発にも積極的に取り組んでいます。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section_bt_agent">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_bt_agent_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_bt_agent_sm.png', 698, 36, 259, 87, 'BT剤（バチルス・チューリンゲンシス剤）について') %>
            </h2>
            <p class="bl_section_ttl_sm un_bt_agent_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_bt_agent_sm.png', 327, 18, 245, 13, 'About BT (Bacillus thuringiensis) agents') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_bt_agent"></div>
          </div>

          <div class="un_bt_agent_contents js_fadeUp_targer">
            <div class="bl_imgWrapper un_bt_agent_imgWrapper">
              <%- functions.responsiveImage('./assets/img/thumb_bt_agent_sm.jpg', 1000, 350, 327, 115, '') %>
            </div>

            <ul class="bl_caution un_bt_agents">
              <li class="bl_caution_list">上記写真以外の他作物にも登録があります。詳しくは、弊社各BT剤の製品ラベルをご確認ください。</li>
            </ul>

            <div class="bl_txt_cont un_bt_agent_txt_cont">
              <p class="bl_txt">
                BT剤は、自然に存在するBT菌という微生物からできた殺虫剤です。化学農薬とは異なる作用機作でチョウ目害虫によく効く一方で、害虫の天敵や人間、環境にとって影響が少ない製品です。作物や害虫の種類に合わせて、効果的なBT剤を選ぶこともできます。また、有機JASに適合しており、特別栽培農産物の生産では農薬使用回数にカウントされません。BT剤は、野菜類をはじめ幅広い作物にて持続可能な病害虫防除資材の一つになっていくことが期待されています。
              </p>
            </div>
          </div>

          <div class="un_bt_video js_fadeUp_targer">
            <div class="bl_contents_ttl_cont">
              <h3 class="bl_contents_ttl bl_contents_ttl_blue">BT剤紹介動画</h3>
            </div>

            <a href="#" class="bl_videoWrapper un_bt_video_cont bl_imgWrapper" data-micromodal-trigger="modal_bt_agents">
              <%- functions.responsiveImage('./assets/img/thumb_bt_sm.jpg', 1000, 350, 327, 180, '') %>
            </a>
          </div>
        </div>
      </section>

      <section class="section section_bt_products">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_bt_products_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_bt_products_sm.png', 244, 36, 184, 27, 'BT剤製品紹介') %>
            </h2>
            <p class="bl_section_ttl_sm un_bt_products_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_bt_production_sm.png', 252, 18, 189, 13, 'BT agent products introduction') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_bt_products"></div>
          </div>

          <ul class="bl_three_item_list un_bt_products_three_item_list js_fadeUp_targer">
            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">ゼンターリ顆粒水和剤</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/78" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_01.jpg" width="304" height="245" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>

            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">フローバックDF</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/172" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_02.jpg" width="304" height="245" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>

            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">エスマルクDF</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/17" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_03.jpg" width="304" height="245" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
          </ul>
          <br>
          <ul class="bl_caution un_bt_agents">
            <li class="bl_caution_list">有効成分に天然物を使用しております。天然物は自然界に存在する物質や微生物およびその生産物を指します。</li>
          </ul>
        </div>
      </section>
    </main>

    <a href="#top" class="un_pagetop js_pagetop">
      <span class="un_pagetop_icon">
        <span class="un_icon_pagetop">
          <span class="un_pagetop_circle">
            <svg viewBox="0 0 36.776 36.776">
              <path d="M2251.726,9674.226a17.366,17.366,0,1,1-8.026-7.343" transform="translate(-2218.176 -9664.356)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
          </span>

          <span class="un_pagetop_arrow">
            <svg viewBox="0 0 13 14.093">
              <g transform="translate(-2230.376 -9675.98)">
                <path d="M2231.083,9683.135l5.74-5.74,5.74,5.74" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
                <line y2="12.8" transform="translate(2236.823 9677.273)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
              </g>
            </svg>
          </span>
        </span>
      </span>
      <span class="un_pagetop_txt">PAGE<br>TOP</span>
    </a>
  </div>

  <%- include(relativePath + '_partials/_footer')%>

  <div id="modal_bt_agents" class="bl_video_modal" aria-hidden="true">
    <div tabindex="-1" data-micromodal-close>
      <div role="dialog">
        <div class="bl_video_modal_inner">
          <div class="bl_video_modal_contents">

            <div class="bl_video_modal_head">
              <button class="bl_video_modal_close js_modal_close bl_imgWrapper" aria-label="Close modal" data-micromodal-close>
                <img src="./assets/img/icon_modal_close_lg.png" width="32" height="32" alt="">
              </button>
            </div>

            <div class="bl_video_container">
              <div class="bl_video_modal_slide">
                <video class="u-hidden-up-md" src="./assets/movie/video_bt.mp4" muted controls poster="./assets/img/thumb_bt_sm.jpg"></video>

                <video class="u-hidden-down-sm" src="./assets/movie/video_bt.mp4" muted controls poster="./assets/img/thumb_bt_lg.jpg"></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>