<%- include(relativePath + '_utilities/_functions')_%>
<%_  var pageID = 'top'; _%>
<!doctype html>
<html lang="ja">

<head>
  <%- include(relativePath + '_partials/_analytics')%>

  <!-- meta -->
  <%- include(relativePath + '_partials/_meta', {page: pageID})%>

  <!-- stylesheet -->
  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./assets/css/top.css">

  <!-- lib -->
  <script src="./assets/js/vendor/jquery-3.6.0.min.js" defer></script>
  <!-- <script src="./assets/js/vendor/micromodal.min.js" defer></script> -->
  <script src="./assets/js/vendor/gsap-3.11.3.min.js" defer></script>
  <script src="./assets/js/vendor/gsap-scrollTrigger-3.11.3.min.js" defer></script>
  <script src="./assets/js/main.js" defer></script>
  <script src="./assets/js/top.js" defer></script>
</head>

<body>
  <div id="app">
    <%- include(relativePath + '_partials/_header')%>

    <main class="ly_main">

      <%- include(relativePath + '_components/_kv')%>

      <section class="section section_biorational">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_biorational_section_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_biorational_sm.png', 460, 36, 416, 125, 'バイオラショナルへの取組み') %>
            </h2>
            <p class="bl_section_ttl_sm un_biorational_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_biorational_sm.png', 176, 16, 264, 24, 'Efforts for biorational') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_biorational"></div>
          </div>

          <div class="un_biorational_contents js_fadeUp_targer">
            <div class="bl_contents_ttl_cont un_biorational_contents_ttl_cont">
              <h3 class="bl_contents_ttl">生産安定性と低環境負荷を両立した<br class="u-hidden-up-md">バイオラショナル製品に注力</h3>
            </div>

            <div class="bl_img_three_blocks_wrapper bl_biorational_img_three_blocks_wrapper">
              <div class="bl_img_three_blocks">
                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_01_sm.jpg', 1000, 350, 654, 362, '') %>
                </div>

                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_02_sm.jpg', 1000, 350, 654, 362, '') %>
                </div>
                <div class="bl_img_three_blocks_item bl_imgWrapper">
                  <%- functions.responsiveImage('./assets/img/pic_botanical_03_sm.jpg', 1000, 350, 654, 362, '') %>
                </div>
              </div>
            </div>

            <div class="bl_txt_cont un_biorational_txt_cont">
              <p class="bl_txt">
                農薬をはじめとする農業関連資材については、農作物の生産安定性を高めるだけでなく、生産者・消費者に対する安全性が高く、かつ環境負荷も低い製品が求められています。住友化学では、天然由来成分を活用した低環境負荷の微生物農薬・植物生長調整剤・微生物農業資材や、それらを用いた作物保護、作物の品質・収量向上のためのソリューションを「バイオラショナル製品」と定義し、Valent BioSciencesを中心に事業を展開しています。また、より環境負荷の低いボタニカル（植物由来）製品の研究開発にも積極的に取り組んでいます。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section_bt_agent">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_bt_agent_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_bt_agent_sm.png', 698, 72, 518, 173, 'BT剤（バチルス・チューリンゲンシス剤）について') %>
            </h2>
            <p class="bl_section_ttl_sm un_bt_agent_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_bt_agent_sm.png', 560, 32, 490, 27, 'About BT (Bacillus thuringiensis) agents') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_bt_agent"></div>
          </div>

          <div class="un_bt_agent_contents js_fadeUp_targer">
            <div class="bl_imgWrapper un_bt_agent_imgWrapper">
              <%- functions.responsiveImage('./assets/img/thumb_bt_agent_sm.jpg', 1000, 350, 654, 362, '') %>
            </div>

            <div class="bl_txt_cont un_bt_agent_txt_cont">
              <p class="bl_txt">
                BT剤は、自然に存在するBT菌という微生物からできた殺虫剤です。化学農薬とは異なる作用機作でチョウ目害虫によく効く一方で、害虫の天敵や人間、環境にとって影響が少ない製品です。作物や害虫の種類に合わせて、効果的なBT剤を選ぶこともできます。また、有機JASに適合しており、特別栽培農産物の生産では農薬使用回数にカウントされません。BT剤は、野菜類をはじめ幅広い作物にて害虫防除を持続可能にしていくことが期待されています。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section_bt_products">
        <div class="ly_cont">
          <div class="bl_section_ttl_cont">
            <h2 class="bl_section_ttl un_bt_products_ttl bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_bt_products_sm.png', 244, 36, 368, 55, 'BT剤製品紹介') %>
            </h2>
            <p class="bl_section_ttl_sm un_bt_products_ttl_sm bl_imgWrapper">
              <%- functions.responsiveImage('./assets/img/ttl_sub_bt_production_sm.png', 252, 18, 378, 27, 'About BT (Bacillus thuringiensis) agents') %>
            </p>
            <div class="bl_section_ttl_bg un_section_ttl_bg_bt_products"></div>
          </div>

          <ul class="bl_three_item_list un_bt_products_three_item_list js_fadeUp_targer">
            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">ゼンターリ</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/78" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_01.jpg" width="654" height="528" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>

            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">フローバックDF</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/172" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_02.jpg" width="654" height="528" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>

            <li class="bl_bt_products_item">
              <p class="bl_bt_products_name">エスマルクDF</p>
              <a href="https://www.i-nouryoku.com/prod/search/nouyaku/detail/1/17" class="bl_bt_products_link" target="_blank" rel="noopener">
                <span class="bl_imgWrapper bl_bt_products_list_img">
                  <img src="./assets/img/pic_bt_products_03.jpg" width="654" height="528" alt="">
                </span>
                <span class="bl_link_cont bl_bt_products_link_cont">
                  <span class="bl_link">
                    <span class="link_txt">商品詳細はこちら</span>
                    <span class="el_link_icon">
                      <span class="el_circle_deg">
                        <svg viewBox="0 0 22.735 22.735">
                          <path d="M313.617,2596.087a10.855,10.855,0,1,1-5.017-4.59" transform="translate(-292.773 -2590.043)" fill="none" stroke="#00A5CF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </svg>
                      </span>

                      <span class="el_arrow_deg">
                        <svg viewBox="0 0 6.457 6.457">
                          <g transform="translate(-117.731 -7.816)">
                            <path d="M301.619,2598.859h5.073v5.073" transform="translate(-183.004 -2590.543)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                            <line x1="5.657" y2="5.657" transform="translate(118.084 8.263)" fill="none" stroke="#00A5CF" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
          </ul>

        </div>
      </section>

    </main>

    <%- include(relativePath + '_partials/_footer')%>

    <%#
    <div id="modal_bt_agents" class="bl_video_modal" aria-hidden="true">
      <div tabindex="-1" data-micromodal-close>
        <div role="dialog">
          <div class="bl_video_modal_inner">
            <div class="bl_video_modal_contents">

              <div class="bl_video_modal_head">
                <button class="bl_video_modal_close js_modal_close bl_imgWrapper" aria-label="Close modal" data-micromodal-close>
                  <img src="./assets/img/icon_modal_close_lg.png" width="32" height="32" alt="">
                </button>
              </div>

              <div class="bl_video_container">
                <div class="bl_video_modal_slide">
                  <video src="./assets/movie/dummy_video.mp4#t=0.001" controls></video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    %>

  </div>
</body>
</html>