<%- include(relativePath + '_utilities/_functions')_%>
<%_  var pageID = 'top'; _%>
<!doctype html>
<html lang="ja">

<head>
  <%- include(relativePath + '_partials/_analytics')%>

  <!-- meta -->
  <%- include(relativePath + '_partials/_meta', {page: pageID})%>

  <!-- stylesheet -->
  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./assets/css/top.css">

  <!-- lib -->
  <script src="./assets/js/vendor/jquery-3.6.0.min.js" defer></script>
  <script src="./assets/js/vendor/gsap-3.11.3.min.js" defer></script>
  <script src="./assets/js/vendor/gsap-scrollTrigger-3.11.3.min.js" defer></script>
  <script src="./assets/js/main.js" defer></script>
  <script src="./assets/js/top.js" defer></script>
</head>

<body>
  <div id="app">
    <%- include(relativePath + '_partials/_header')%>

    <main class="ly_main">

      <%- include(relativePath + '_components/_kv')%>


    </main>

    <%- include(relativePath + '_partials/_footer')%>
  </div>

</body>
</html>