<meta charset="utf-8">
<title><%- conf[page].title %></title>
<meta name="description" content="<%- conf[page].description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="format-detection" content="telephone=no">

<!-- og -->
<meta property="og:title" content="<%- conf[page].title %>">
<meta property="og:description" content="<%- conf[page].description %>">
<meta name="keywords" content="<%- conf[page].keywords %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%- conf[page].url %>">
<meta property="og:image" content="<%- conf[page].url %>/og.png">

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%- conf[page].title %>">
<meta name="twitter:description" content="<%- conf[page].description %>">
<meta name="twitter:url" content="<%- conf[page].url %>">
<meta name="twitter:image" content="<%- conf[page].url %>/twitter_card.png">

<!-- icon -->
<link rel="icon" href="./favicon.ico">
<link rel="apple-touch-icon" href="./apple-touch-icon.png">
<link rel="icon" href="./android-chrome-192x192.png">

<link rel="canonical" href="<%- conf[page].url %>">
